img {
    max-width: 100%;
}

.btn-default {
    margin: 0 auto;
    display: table;
    text-decoration: none;
    font-family: Panton;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color: #FFF;
    padding: 21px;
    min-width: 242px;
    border-radius: 10px;
    background-color: #006DC1;
    transition: .3s ease-in;
}

@media(max-width: 991px) {
    .btn-default {
        font-size: 16px;
        padding: 16px 20px;
    }
}

.btn-default:hover {
    transition: .3s ease-in;
    background-color: #00AEEB;
}

/* body {
    background: url('../img/Racon.jpg') top center no-repeat;
} */

header {
    background: linear-gradient(180deg, #00152E -29.3%, rgba(0, 21, 46, 0) 77.73%);
    position: fixed;
    z-index: 99;
    margin: 0 auto;
    width: 100%;
    transition: background-color 0.3s ease;
}

#header.scrolled {
    background: #fff;
}

#header.scrolled svg path {
    fill: #202242;
}

#header.scrolled svg path.icone-down {
    fill: #00AEEB;
}

header .navbar.navbar-expand-lg {
    max-width: 1430px;
    margin: 0 auto;
    padding: 21px 0;
}

header .collapse.navbar-collapse {
    justify-content: end;
}

header .navbar-nav {
    gap: 41px;
    margin-right: 70px;
}

@media(max-width: 991px) {
    header .navbar-nav {
        gap: 20px;
        margin-left: 1rem;
        margin-top: 15px;
    }
}

header .navbar-nav .nav-link {
    font-family: Panton;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    transition: .3s ease-in;
}

header.scrolled .navbar-nav .nav-link {
    color: #202242;
}

@media(max-width: 991px) {
    header .navbar-nav .nav-link {
        font-size: 20px;
    }
}

header .navbar-nav .nav-link:hover {
    transition: .3s ease-in;
    color: #F9D447;
}

header.scrolled .navbar-nav .nav-link:hover {
    color: #006DC1;
}

header .navbar-nav .nav-link.active {
    color: #F9D447;
}

header .navbar .btn-header {
    display: inline-block;
    text-decoration: none;
    font-family: Panton;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #E58538;
    padding: 19px 37px;
    margin-right: 63px;
    border-radius: 10px;
    background-color: #F9D447;
    transition: .3s ease;
}

@media(max-width: 991px) {
    header .navbar .btn-header {
        margin-left: 1rem;
        margin-top: 45px;
        margin-bottom: 53px;
    }
}


header .navbar .btn-header:hover {
    transition: .3s ease;
    color: #F9D447;
    background-color: #E58538;
}

@media(max-width: 1600px) {

    .navbar-brand,
    .navbar-brand svg {
        max-width: 300px;
    }
}

@media(max-width: 991px) {

    .navbar-brand,
    .navbar-brand svg {
        max-width: 244px;
    }

    .navbar-collapse {
        position: absolute;
        background: #283561;
        z-index: -1;
        top: 0px;
        right: -12px;
        width: 104%;
        padding-top: 87px;
    }

    header .navbar.navbar-expand-lg {
        position: relative;
        z-index: 9999;
    }

    header .navbar-toggler {
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        border-radius: 100%;
        border-color: #F9D447;
        background-color: #F9D447;
    }

    header .navbar-toggler:focus {
        box-shadow: none;
    }

    header .navbar-toggler-icon {
        background-image: url('../img/vetor-menu.png');
        width: 28px;
        height: 23px;
    }

    /* 
    header .navbar.navbar-expand-lg .container-fluid {
        padding: 0;
    } */
}

.section-form {
    position: relative;
    padding: 138px 0px 37px 0px;
    min-height: 964px;
    background: #00AEEB;
    overflow: hidden;
}

@media(max-width: 991px) {
    .section-form {
        padding: 100px 0px 380px 0px;
    }
}

.section-form .mulher {
    position: absolute;
    bottom: 0;
    right: 214px;
    z-index: 2;
}

@media(max-width: 1600px) {
    .section-form .mulher {
        right: 0px;
    }
}

.section-form .vetor-mulher {
    position: absolute;
    top: -172px;
    right: -138px;
    z-index: 1;
}

@media(max-width: 1600px) {
    .section-form .vetor-mulher {
        top: 0;
        max-width: 71%;
    }
}

@media(max-width: 991px) {
    .section-form .vetor-mulher {
        top: inherit;
        bottom: -14px;
        max-width: 200%;
        width: 134%;
        right: -107px;
        z-index: 1;
    }
}

.section-form .seta-home {
    position: absolute;
    top: 25px;
    left: -79px;
}

@media(max-width: 991px) {
    .section-form .seta-home {
        top: 0;
        left: inherit;
        right: 14px;
        transform: rotate(180deg);
    }
}

.section-form h1 {
    font-family: Panton;
    font-size: 50px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #202242;
    margin-bottom: 24px;
}

@media(max-width: 991px) {
    .section-form h1 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 17px;
    }
}

.section-form h1 strong {
    font-weight: 800;
}

.section-form p {
    font-family: Panton;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #202242;
}

@media(max-width: 991px) {
    .section-form p {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 28px;
    }
}

.section-form p strong {
    font-weight: 800;
}

.form {
    padding: 28px 46px;
    margin-top: 5px;
    box-shadow: 0px 4px 50px 7px #0000001A;
    border-radius: 20px;
    background-color: #FFFFFF;
    position: absolute;
    top: -630px;
    max-width: 526px;
    z-index: 2;
    width: 100%;
}

@media(max-width: 1600px) {
    .form {
        padding: 20px 40px;
    }
}

@media(max-width: 991px) {
    .form {
        padding: 16px 22px;
        max-width: 95%;
        margin: 0 auto;
        position: sticky;
        z-index: 3;
    }
}

.form p {
    font-family: Panton;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #202242;
    margin-bottom: 19px;
}

@media(max-width: 1600px) {
    .form p {
        font-size: 18px;
        line-height: 20px;
    }
}

@media(max-width: 991px) {
    .form p {
        font-size: 16px;
        line-height: 20px;
    }
}

.form p strong {
    font-weight: 800;
}

.form input,
.form select {
    width: 100%;
    padding: 19px 27px;
    font-family: Panton;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #283561;
    border: solid 0.5px #767676;
    border-radius: 5px;
    margin-bottom: 6px;
}

@media(max-width: 1600px) {

    .form input,
    .form select {
        font-size: 16px;
        padding: 15px;
    }
}

@media(max-width: 991px) {

    .form input,
    .form select {
        padding: 21px 18px;
        font-size: 15px;
        line-height: 18px;
    }
}

.form input::placeholder {
    font-family: Panton;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #283561;
}

.form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/seta-select.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.form label {
    font-family: Panton;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #283561;
    margin-top: 15px;
    margin-bottom: 50px;
}

@media(max-width: 991px) {
    .form label {
        font-size: 15px;
        line-height: 18px;
    }
}

/* .form .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
} */

.form .range-box {
    width: 100%;
}

.form .track {
    /* -webkit-appearance: none; */
    width: 100%;
    height: 15px;
    /* margin: 0;
    background: transparent;
    border: 1px solid darkblue; */
    border-radius: 15px;
    outline: none;
}

.form .track::-ms-track {
    cursor: pointer;
    color: transparent;
    background: transparent;
    border-color: transparent;
}

.form .track::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: cyan;
    border: 1px solid blue;
    border-radius: 5px;
}

.form .track::-moz-range-thumb {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: cyan;
    border: 1px solid blue;
    border-radius: 5px;
}

.form .track::-ms-thumb {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: cyan;
    border: 1px solid blue;
    border-radius: 5px;
}

.form .scale {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Panton;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #767676;
}

.form .point {
    position: relative;
}

/* .form .point::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% + 1px);
    width: 1px;
    height: 8px;
    background-color: blue;
} */

/* .form .value-wrapper {
    min-width: 120px;
    margin-top: 30px;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 5px;
} */

.form .value {
    margin: 0;
}

.form .aceite {
    display: flex;
    margin-top: 24px;
    position: relative;
}

.form .aceite input[type=checkbox] {
    position: relative;
    border: 2px solid #202242;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
    width: 19px;
    height: 19px;
    border-radius: 100%;
}

.form .aceite input[type=checkbox]:hover {
    opacity: 1;
}

.form .aceite input[type=checkbox]:checked {
    background-color: #202242;
    opacity: 1;
}

.form .aceite input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.form .aceite p {
    font-family: Panton;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #283561;
    margin: 0;
}

.form .aceite p a {
    display: inline-block;
    text-decoration: none;
    font-family: Panton;
    font-size: 14px;
    font-weight: 800;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #283561;
}

.form input[type=range] {
    padding: 0;
}

.form input[type=submit] {
    font-family: Panton;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    padding: 19px;
    text-align: center;
    margin-top: 21px;
    border: none;
    border-radius: 10px;
    background-color: #006DC1;
    color: #FFF;
    transition: .3s ease-in;
}

@media(max-width: 1600px) {
    .form input[type=submit] {
        font-size: 16px;
        line-height: 20px;
        padding: 20px;
    }
}

@media(max-width: 991px) {
    .form input[type=submit] {
        font-size: 16px;
        line-height: 20px;
    }
}

.form input[type=submit]:hover {
    transition: .3s ease-in;
    background-color: #202242;
}

.sobre {
    padding: 250px 0 120px 0;
    position: relative;
    background-color: #00152E;
    overflow: hidden;
}

@media(max-width: 991px) {
    .sobre {
        padding: 70px 0 50px 0;
    }

    .sobre .container {
        padding: 0;
    }
}

.sobre h2 {
    font-family: Panton;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
    margin-bottom: 23px;
}

@media(max-width: 991px) {
    .sobre h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

.sobre h2 strong {
    font-weight: 800;
}

.sobre p {
    font-family: Panton;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
}

@media(max-width: 991px) {
    .sobre p {
        font-size: 15px;
        line-height: 22px;
    }
}

.sobre p strong {
    font-weight: 800;
}

.sobre .passos {
    margin-top: 86px;
    margin-left: 8px;
}

@media(max-width: 991px) {
    .sobre .passos {
        margin-top: 56px;
        margin-left: 0px;
    }
}

.sobre .passos p {
    font-family: Panton;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 36px;
    max-width: 300px;
}

@media(max-width: 1600px) {
    .sobre .passos p {
        max-width: 90%;
    }
}

@media(max-width: 991px) {
    .sobre .passos p {
        max-width: 90%;
        /* max-height: 186px; */
        overflow: auto;
        font-size: 15px;
    }
}

.sobre .passos .info-passo {
    position: relative;
}

.sobre .passos .info-passo::after {
    content: '';
    position: absolute;
    width: calc(100% - 73px);
    height: 1px;
    background-color: #c6c2c2;
    top: 36px;
    left: 73px;
}

.sobre .passos .col-lg-3:last-child .info-passo::after {
    display: none;
}

@media(max-width: 991px) {
    .passos-slide .slick-list.draggable {
        padding: 10px 50px !important;
    }
}

.sobre .btn-default {
    margin-top: 55px;
}

@media(max-width: 991px) {
    .sobre .btn-default {
        margin-top: 0px;
        width: 177px;
        min-width: 177px;
        margin: 0 1rem;
    }

    .sobre .btns-slide {
        display: flex;
        gap: 36px;
        align-items: center;
        padding: 0 1rem;
    }

    .sobre .vetor1-mobile {
        margin-top: 90px;
    }
}

.sobre h2.second-title {
    font-family: Panton;
    font-size: 55px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
    margin-top: 126px;
    margin-bottom: 105px;
}

@media(max-width: 991px) {
    .sobre h2.second-title {
        margin-top: 44px;
        margin-bottom: 29px;
        font-size: 30px;
        line-height: 35px;
    }
}

.sobre h2.second-title strong {
    font-weight: 600;
}

.sobre .card-info {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.sobre .card-info .card-invista {
    position: relative;
    transition: all .3s ease;
}

@media(max-width: 991px) {

    .sobre .card-info .card-invista {
        margin-bottom: 13px;
    }
}

.sobre .card-info .card-invista:hover {
    transition: all .3s ease;
    margin-top: -10px;
}

.sobre .card-info .card-invista .btn-default {
    position: absolute;
    left: 39px;
    bottom: 55px;
}

@media(max-width: 991px) {
    .sobre .card-info .card-invista .btn-default {
        position: absolute;
        left: 15px;
        bottom: 34px;
    }
}

.sobre .vetor1 {
    position: absolute;
    top: 0;
    left: 0;
}

@media(max-width: 1600px) {
    .sobre .vetor1 {
        left: -13%;
    }
}

@media(max-width: 991px) {
    .sobre .vetor1 {
        display: none;
    }
}

.sobre .vetor2 {
    position: absolute;
    top: 31%;
    right: 0;
    z-index: 1;
}

@media(max-width: 1600px) {
    .sobre .vetor2 {
        right: -13%;
    }
}

@media(max-width: 991px) {
    .sobre .vetor2 {
        display: none;
    }
}

.depoimentos {
    padding: 104px 0 104px 0;
    background-color: #0C1E41;
}

@media(max-width: 991px) {
    .depoimentos {
        padding: 53px 0;
        overflow: hidden;
    }

    .depoimentos .container {
        padding: 0;
    }
}

.depoimentos h2 {
    font-family: Panton;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
}

@media(max-width: 991px) {
    .depoimentos h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 29px;
        padding: 0 1rem;
    }
}

.depoimentos h2 strong {
    font-family: Panton;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #00AEEB;
}

@media(max-width: 991px) {
    .depoimentos h2 strong {
        font-size: 30px;
        line-height: 30px;
    }
}

.depoimentos p {
    font-family: Panton;
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
}

@media(max-width: 991px) {
    .depoimentos p {
        font-size: 15px;
        line-height: 25px;
        padding: 0 1rem;
    }
}

.depoimentos p a {
    font-family: Panton;
    font-size: 25px;
    font-weight: 800;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #00AEEB;
    max-width: 765px;
}

@media(max-width: 991px) {
    .depoimentos p a {
        font-size: 15px;
        line-height: 25px;
        color: #FFF;
    }
}

.depoimentos .grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 102px;
}

@media(max-width: 991px) {
    .depoimentos .grid {
        justify-content: start;
        overflow: auto;
        gap: 4px;
        margin-top: 24px;
    }
}

.depoimentos .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media(max-width: 991px) {
    .depoimentos .column {
        flex-direction: row;
        gap: 13px;
    }
}

.depoimentos .image {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.depoimentos a,
.depoimentos img.img-depoimento {
    transition: transform 0.5s ease;
}

.depoimentos a:hover img.img-depoimento {
    transform: scale(1.1);
}

.depoimentos .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.depoimentos .image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
}

.depoimentos .image .texto {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 108px;
    padding: 0 50px;
    z-index: 2;
}

@media(max-width: 991px) {
    .depoimentos .image .texto {
        padding: 0;
        gap: 0;
        justify-content: space-between;
    }
}

.depoimentos .image .texto p {
    max-width: 378px;
    font-family: Panton;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
}

@media(max-width: 991px) {
    .depoimentos .image .texto p {
        font-size: 15px;
        line-height: 20px;
        max-width: 100%;
        margin-bottom: 0;
    }
}

.depoimentos .image .texto .player {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    padding: 20px;
    transition: .3s ease-in;
}

.depoimentos .image .texto .player svg {
    width: 30px;
    height: 30px;
    padding-left: 3px;
}

.depoimentos .image:hover .player {
    transition: .3s ease-in;
    background-color: #1E6DB6;
}

.depoimentos .image:hover .player svg path {
    transition: .3s ease-in;
    fill: #fff;
}

.depoimentos .image .texto img {
    max-width: 60px;
    max-height: 60px;
}

@media(max-width: 991px) {
    .depoimentos .image .texto .player {
        max-width: 35px;
        max-height: 35px;
        margin: 0 1rem;
        bottom: 0;
        padding: 0;
    }

    .depoimentos .image .texto .player svg {
        width: 10px;
        height: 10px;
    }

}

.depoimentos .image-large {
    width: 100%;
    height: 530px;
}

.depoimentos .image-small {
    width: 100%;
    height: 326px;
}

@media(max-width: 991px) {

    .depoimentos .image-large,
    .depoimentos .image-small {
        width: 339px;
        height: 269px;
    }

}

.depoimentos .btn-default {
    margin-top: 108px;
}

.numeros {
    padding: 85px 0 55px 0;
    position: relative;
    overflow: hidden;
    background-color: #283561;
}

@media(max-width: 991px) {
    .numeros {
        padding: 44px 0 428px 0;
    }
}

.numeros .frase {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 50px;
    font-family: Panton, sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media (max-width: 991px) {
    .numeros .frase {
        font-size: 45px;
        line-height: 52px;
    }
}

.numeros .rolling-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    animation: roll 10s linear infinite;
}

@keyframes roll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/** teste frase */
.m-scroll {
    display: flex;
    position: relative;
    width: 100%;
    height: 52px;
    margin: auto;
    overflow: hidden;
    z-index: 3;
}

.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(2);
    transition: all 1s ease;
    font-family: Panton, sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.m-scroll__title>div {
    display: flex;
    -webkit-animation: scrollText 33s infinite linear;
    animation: scrollText 33s infinite linear;
}

.m-scroll__title p {
    margin: 0;
    font-family: Panton, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    transition: all 2s ease;
    margin: 0;
}

/*div:hover {
    animation-play-state: paused;
  }*/
@-webkit-keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

/**final do teste*/


.numeros .vetor3 {
    position: absolute;
    top: 18px;
    left: 64px;
    z-index: 1;
}

@media(max-width: 1600px) {
    .numeros .vetor3 {
        left: -10%;
    }
}

@media(max-width: 991px) {
    .numeros .vetor3 {
        top: inherit;
        bottom: -90px;
        max-width: 200%;
        width: 129%;
        left: -62px;
    }
}

.numeros .homem {
    position: absolute;
    top: -22px;
    left: 90px;
    z-index: 3;
}

@media(max-width: 1600px) {
    .numeros .homem {
        left: -10%;
    }
}

@media(max-width: 991px) {
    .numeros .homem {
        top: inherit;
        bottom: -141px;
        width: 144%;
        max-width: 200%;
        left: -71px;
    }
}

.numeros .informacoes {
    margin-top: 83px;
}

@media(max-width: 991px) {
    .numeros .informacoes {
        margin-top: 35px;
    }
}

.numeros .informacoes .card-numeros {
    display: flex;
    padding: 25px 37px;
    justify-content: space-between;
    max-width: 427px;
    max-height: 142px;
    position: relative;
    z-index: 4;
    border-radius: 10px;
    background-color: #FFF;
    margin-bottom: 9px;
}

@media(max-width: 991px) {
    .numeros .informacoes .card-numeros {
        padding: 15px;
        align-items: center;
    }
}

.numeros .informacoes .card-numeros .infos .numero,
.numeros .informacoes .card-numeros .infos .texto-auxiliar {
    font-family: Panton;
    font-size: 45px;
    font-weight: 800;
    line-height: 54px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C1E41;
}

.numeros .informacoes .card-numeros .infos .texto-auxiliar {
    display: flex;
    gap: 5px;
}

@media(max-width: 991px) {

    .numeros .informacoes .card-numeros .infos .numero,
    .numeros .informacoes .card-numeros .infos .texto-auxiliar {
        font-size: 30px;
        line-height: 30px;
    }
}

.numeros .informacoes .card-numeros .infos p {
    font-family: Panton;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #283561;
    margin-top: 7px;
    margin-left: 5px;
    white-space: nowrap;
}

@media(max-width: 991px) {
    .numeros .informacoes .card-numeros .infos p {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
    }
}
.numeros .informacoes .card-numeros .icone {
    max-width: 77px;
}

.numeros .informacoes .btn-default {
    background-color: #F9D447;
    color: #E58538;
    margin-left: 110px;
    min-width: 215px;
    margin-top: 31px;
    z-index: 5;
    position: relative;
}

@media(max-width: 991px) {
    .numeros .informacoes .btn-default {
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
    }
}

.numeros .informacoes .btn-default:hover {
    color: #F9D447;
    background-color: #E58538;
}

footer {
    background-color: #1E6DB6;
    position: relative;
}

footer .parte1 {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 69px 0 0 0;
    background-color: #1E6DB6;
}

@media(max-width: 991px) {
    footer .parte1 {
        max-width: 100%;
        display: block;
        text-align: center;
    }
}

footer h3 {
    font-family: Panton;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #00AEEB;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 5px;
}

@media(max-width: 991px) {
    footer h3 {
        text-align: center;
        margin-top: 30px;
        line-height: 20px;
    }
}

footer a {
    display: inline-block;
    text-decoration: none;
    font-family: Panton;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
    transition: .3s ease-in;
}

footer a:hover {
    transition: .3s ease-in;
    color: #F9D447;
}

footer a.logo-footer2 {
    margin-top: 20px;
    position: absolute;
    transform: rotate(270deg);
    top: calc(50% - 86px);
    right: -58px;
}

@media(max-width: 991px) {
    footer a.logo-footer2 {
        top: 32%;
        right: -71px;
    }
}

footer .redes {
    display: flex;
    gap: 28px;
    transition: .3s ease-in;
}

@media(max-width: 991px) {
    footer .redes {
        justify-content: center;
    }
}

footer .redes a:hover svg path {
    fill: #F9D447;
    transition: .3s ease-in;
}

footer .politica {
    font-family: Panton;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 99px;
    background-color: #1E6DB6;
}

@media(max-width: 991px) {
    footer .politica {
        margin-top: 59px;
        margin-bottom: 59px;
        font-size: 16px;
        line-height: 19.4px;
    }
}

footer .politica a {
    text-decoration: underline;
    font-family: Panton;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
    text-align: center;
    transition: .3s ease-in;
}

footer .politica a:hover {
    color: #F9D447;
    transition: .3s ease-in;
}

footer .parte2 {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 90px;
    padding: 18px 0;
    background-color: #FFF;
}

@media(max-width: 1600px) {
    footer .parte2 {
        gap: 50px;
        padding: 25px 0;
    }
}

@media(max-width: 991px) {
    footer .parte2 {
        display: block;
        max-width: 90%;
    }
}

footer .parte2 p {
    max-width: 1160px;
    font-family: Panton;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C1E41;
    margin-bottom: 0;
}

@media(max-width: 991px) {
    footer .parte2 p {
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
}

footer .parte2 p a {
    font-family: Panton;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0C1E41;
    margin-bottom: 0;
    text-decoration: underline;
    transition: .3s ease-in;
}

footer .parte2 p a:hover {
    color: #1E6DB6;
    transition: .3s ease-in;
}

@media(max-width: 1600px) {
    footer .logo-abac {
        min-width: 105px;
    }
}

@media(max-width: 991px) {
    footer .logo-abac {
        display: flex;
        justify-content: center;
        margin-bottom: 33px;
    }
}

form .error-message {
    margin-top: -6px;
    margin-bottom: 15px;
    font-family: Panton;
    font-size: 14px;
    font-weight: 700;
}

form .aceite .error-message {
    position: absolute;
    bottom: -27px;
}

.wrapper {
    position: relative;
}

.track-wrapper {
    position: relative;
    width: 100%;
}

.tooltip-range {
    position: absolute;
    top: -38px;
    transform: translateX(-50%);
    background-color: #e9e9e9;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    pointer-events: none;
    transition: left 0.1s ease-in-out;
    box-shadow: 0px 4px 50px 7px #0000001A;
}

.tooltip-range p {
    font-size: 14px;
    color: #00152E;
}

input[type="range"] {
    width: 100%;
}

.value-wrapper {
    text-align: center;
    font-size: 18px;
    pointer-events: none;
}

.value {
    margin: 0;
}

/**Agradecimentos*/

#thank h1 {
    color: var(--green-accent);
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.05em;
}